<!DOCTYPE html>



<html>
<head>
		<title> Plankton Viewer </title>
<meta charset = "UTF-8">
		<meta name="viewport" content = "width=device-width, initial-scale=1.0">
		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static '/style.css' %}">
</head>
<body>

    <!-- The wrapper and content divs set margins and positioning -->
    <div class="wrapper">
      <div class="content" role="main">
        <!-- This is the start of content for our page -->
       <div class="title">
         Welcome to Mollie's Plankton Viewer
        </div>
       
        <div class="row">
  <div class="column left" style="background-color:#aaa;">
    <div class="header">
      column 1
    </div>
   
    <p>
      some text...
    </p>
    <div class="topnav">
  <a class="active"</a>
  <div class="search-container">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>
          </div>
         
  <div class="column middle" style="background-color:#aaaa;">
          <div class="header">
      column 2
    </div>
	<iframe src="https://google.earthengine.app/view/ocean" title="Satellite Tracks"></iframe>
          </div>

          </div>
</div>
           
        </div>
  </body>
</html>













