

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* path { */
    /* stroke: white; white borders on image components */
    /* fill:  paleturquoise !important; override any other formatting to fill image component blue */

    /* transition: fill .4s ease; over .4s , do the fill */
/* } */

circle:hover {
    fill: orange !important;
}

#arctic-map { /* calls on the id from our svg and sets bulk parameters for the figure*/
    display:block;
    position:absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%
}

#details-box{ /* calls on the id details box from html to set the pop-up box */
    box-shadow: 0px 7px 40px rgba(0,0,0,0.7);
    opacity: 100%;
    padding: 1rem;
    border-radius: 8px;
    font-size: 24px;
    position: fixed;
    top: 100px;
    left: 800px;
    color: white;
    font-family: "Poppins";
    background-color: black;
    
    transform: translateX(-50%);
    transition: opacity .4s ease;
    z-index: 1;

}

#map-box{
   
    height :1600px;
    width: 2560px;
    top : 500px;
    left: 500px;
    opacity: 50%;
    color: white;
}